extends layouts/base

block head 

block content
	include partials/modal
	include partials/header
	//- include partials/news
	include partials/events
	include partials/speaker
	include partials/sponsors
	include partials/sharing
	include partials/challenge
	//- include partials/learn
	include partials/digest
	include partials/venue
	//- include partials/about
	include partials/contact
	include partials/footer