// --------------------------------------------
// colors

$base : #F5F5F5; // really light grey
$base-text : #565656; // really light grey
$base-header : #424242; // really light grey

// main colors
$primary : #FF4A4A; // ???
$secondary : #00CB9F; // ???
$accent : #770000; // ???

$amazon :#FFE35B;
 // #FFD131 this is from website illustration
 // #FEDF46 another illustration
 // #F7981D is from logo