// --------------------------------------------
// modal
section#modal {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    display: block;
    z-index: 1000;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    visability: hidden;
    pointer-events: none;
    display: none;

    @include media($desktop) { 
        display: block;
    }

    .close {
        position: absolute;         
        top: -40px;
        right: 0px;
        font-size: 14px;
        height: 40px;
        width: 40px;
        line-height: 40px;
        background: #111;
        color: #fff;
        margin: 0 10px 0 0;

        @include media($desktop) { 
            top: -20px;
            right: -20px;
        }


        span {
            background: none repeat scroll 0 0 #fff;
            clear: both;
            display: block;
            height: 2px;
            transition: all 0.4s ease 0s;
            width: 30px;    
            position: relative;
            top: 19px;
            left: 5px;
            transform: rotateZ(45deg);

            &:nth-child(2) {
                top: 17px;
                transform: rotateZ(-45deg);    
            }
        }
    }

    .container {
        max-width: $container;
        position: relative;
        height: 100%;
    }

    .holder {
        position: absolute;
        top: 50%;
        left: 0px;
        right: 0px;
    }

    .eventbrite {
        background: #fff;
        width: 100%;
        overflow: hidden;
        padding: 15px;

        iframe {
            display: block;
            float: left;
        }

        @include media($desktop) { 
            padding: 50px 50px 0 50px;
        }
    }

    &.open {
        pointer-events: auto;        
        opacity: 1;
        visability: visible;
        animation: anim-open 0.4s;  
        display: block;
    }
}

@keyframes anim-open {
    0% { opacity: 0; transform: scale3d(1.1, 1.1, 1); }
    100% { opacity: 1; transform: scale3d(1, 1, 1); }
}

@keyframes anim-close {
    0% { opacity: 1; }
    100% { opacity: 0; transform: scale3d(0.9, 0.9, 1); }
}

// --------------------------------------------
// news
section#news {
    overflow: visible;
    z-index: 100;
    background: #f5f5f5;

    #news-slider {        
        overflow: hidden;
        text-align: center;

        .carousel {
            overflow: hidden;
            position: relative;
            width: 100%;

            .holder {
                margin: 0;
                padding: 0;
                position: relative;
                width: 500%;
            }
        }

        .slide {
            display: block;
            overflow: hidden;
            float: left;
            width: 20%;
        }

        .pagination {
            width: 100%; 
            overflow: hidden;            

            ul {
                list-style: none; 
                position: relative; 
                float: left; 
                display: block; 
                left: 50%;   
            }

            li {
                position: relative; 
                float: left; 
                display: block; 
                right: 50%;
                margin: 0 5px;

                a {
                    width: 40px;
                    height: 5px;
                    display: block;
                    
                    background: #dedede;                                       
                    text-indent: -9999px;
                }

                &.active a {
                    background: #565656;
                }

                &.active a {
                    background: #565656;   
                }
            }
        }

        h4 {
            text-transform: uppercase;
            font-size: 1.2rem;
        }
    }
}


// --------------------------------------------
// off-canvas
#off-canvas {
    width: 50px;
    min-height: 46px;
    position: fixed;
    transform: translate3d(30px, -46px, 0px);
    z-index: 500;
    overflow: hidden;
    background: rgba(34, 44, 52, 0.9);
    transition: 0.5s all cubic-bezier(0.7, 0, 0.3, 1) 0s;

    .container {
        position: absolute;
        margin-top: 70px;
        margin-bottom: 70px;
        transform: translate3d(0, 40px, 0px);
        opacity: 0;
        visibility: hidden;
        transition: 0.3s all ease 0s;

        @include media($desktop) { 
            margin-top: 0;
            margin-bottom: 0;
            position: relative;
            transform: translate3d(0px, 0px, 0px);
        }
    }

    .logo {
        float: left;
        margin: 20px 0;
        display: none;

        a {
            background: url('../img/logo-nav.png') no-repeat;
            width: 140px;
            height: 60px;
            margin: 0;
            text-indent: -9999px;
            display: block;
        }        
    }

    .open {
        display: block;
        color: #fff;
        width: 50px;
        padding: 14px 12px;
        float: right;
        position: absolute;
        top: 0px;
        right: 0px;

        span {
            height: 2px;
            width: 100%;
            background: #fff;
            display: block;
            margin: 0 0 6px 0;
            clear: both;
            transition: 0.4s all ease 0s;

            &:last-child {
                margin: 0;
            }
        }
    }

    ul {
        float: left;
        width: 100%;
        clear: both;

        @include media($desktop) { 
            float: right;
            width: auto;
            margin: 34px 0;
        }

        li {
            overflow: hidden;
            display: block;
            font-size: 14px;
            font-family: $primary-font;
            float: left;
            width: 100%;
            margin-bottom: 5px;
            @include span-columns(6 of 12);

            @include media($desktop) { 
                width: auto;
                margin: 0;
            }

            &:nth-child(2n) {
                @include omega();
            }

            a {
                padding: 10px 20px;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 700;
                color: #fff;
                display: block;
                text-align: center;
                background: #111;
                transition: 0.4s all ease 0s;

                @include media($desktop) {
                    color: #fff;
                    padding: 0 10px;          
                    background: transparent;
                }

                &.twitter {
                    background: #44CCF6;
                }

                &.facebook {
                    background: #3B5998;
                }

                &.speakerdeck {
                    background: #3ab278;
                    color: #3ab278;
                    padding: 11px 0;
        
                    span {
                        overflow: hidden;
                        display: inline-block;
                        background: #fff;
                        padding: 2px 2px;
                        border-radius: 2px;

                        i {
                            transition: 0.4s all ease 0s;
                            color: #3ab278;
                            float: left;
                            font-size: 14px;   
                            line-height: 0.8 !important;
                            padding: 0 1px;
                        }
                    }
                }

                &.lanyrd {
                    background: #4082cb;

                    i {
                        height: 32px;
                        width: 100%;
                        display: block;
                        line-height: 1;
                        background: url('../img/lanyrd.png') no-repeat center center;
                        background-size: 14px 14px;
                    }
                }

                &.youtube {
                    background: #CE332D;
                }

                &.linkedin {
                    background: #0275B6;
                }

                i {
                    line-height: 3.1rem;
                    font-size: 18px;
                }

                @include media($desktop) {
                    &.speakerdeck {
                        background: #3ab278;
                        color: #3ab278;
                        padding: 0;
            
                        span {
                            overflow: hidden;
                            display: inline-block;
                            background: #fff;
                            padding: 0 0px;
                            border-radius: 2px;

                            i {
                                color: #111;
                                float: left;
                                font-size: 10px;   
                                line-height: 0.8 !important;
                                padding: 0 1px;
                            }
                        }
                    }

                    &.network {
                        background: #111 !important;
                        margin: 0 0 0 5px;
                        height: 32px;
                        width: 32px;
                        border-radius: 50%;

                        &:hover {
                            background: $primary !important;
                        }

                        i {
                            line-height: 32px;
                            font-size: 12px;
                        }
                    }

                    &.lanyrd {
                        padding: 0;

                        i {
                            background-size: 10px 10px;
                        }
                    }

                    &:hover {
                        background: $primary;

                        &.speakerdeck i {
                            color: $primary;
                        }
                    }
                }
            }
        }
    }

    @include media($desktop) {
        width: 100%;
        min-height: 100px;
        transform: translate3d(0px, -100px, 0px);
        transition: 0.5s all cubic-bezier(0.7, 0, 0.3, 1) 0s;

        .logo {
            display: block;
        }

        .open {
            display: none;
        }

        .container {
            opacity: 1;
            visibility: visible;
        }
    }

    &.visible {
        transform: translate3d(30px, 30px, 0px); 

        @include media($desktop) {
            transform: translate3d(0px, 0px, 0px);
        }
    }

    &.visible.active {
        transform: translate3d(0px, 0px, 0px);
        height: auto;
        min-height: 100%;
        width: 100%;
        display: block;
        overflow: auto;        
        transition: 0.5s all cubic-bezier(0.7, 0, 0.3, 1) 0s;

        .container {
            opacity: 1;
            visibility: visible;
            transform: translate3d(0px, 0px, 0px);
            transition: 0.3s all ease 0.5s;
        }

        @include media($desktop) {
            min-height: 100px;

            .container {
                transition: 0.3s opacity ease 0s;
            }
        }

        a.open {
            span {
                &:first-child {
                    transform: translate3d(0px, 8px, 0px) rotateZ(-45deg);
                }   
                &:nth-child(2) {
                    transform: rotateY(90deg);
                    opacity: 0;
                }
                &:last-child {
                    transform: translate3d(0px, -8px, 0px) rotateZ(45deg);
                }  
            }
        }

        .container {       
            min-height: auto;
            opacity: 1;
            overflow: visible;
            pointer-events: auto;
            transform: translate3d(0px, 0px, 0px);
        }
    }
}


// --------------------------------------------
// header
header#header {
    display: block;    
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;    
    background: #000;
    background-attachment: fixed;
    background-size: cover;
    padding: 0;

    .logo-group {
        @include span-columns(12);
        position: relative;
        display: block;

        #logo {
            overflow: hidden;
            width: 100%;
        }

        #logo a {
            height: 100px;
            width: 100px;
            margin: 10px auto;
            background: url('../img/logo.png') no-repeat;
            background-size: 100% auto;
            margin: 10px auto;
            text-indent: -9999px;
            display: block;
        }

        @include media($container) {            
            @include span-columns(4);  

            #logo a {             
              width: 160px;
              height: 160px;
              margin: 60px auto;
            }  
        }
    } 

    #social-links {
        position: absolute;
        left: 50px;
        top: 130px;

        li {
            float: left;
            list-style: none;
            margin: 0 0 0 8px;

            a {
                display: block;
                background: $accent;
                color: #fff;
                width: 40px;
                height: 40px;
                border-radius: 20px;
                text-align: center;

                &:hover {
                    background: #111;
                }

                i {
                    line-height: 40px;
                    font-size: 14px;
                }
            }
        }
    }

    .container {
        display: table;
        height: 100%;
        z-index: 100;
        position: relative;
    }

    .info {
        @include span-columns(12 of 12);
        float: left;
        text-align: center;
        
        @include media($container) {
            @include span-columns(8);
            float: right;
            text-align: left;
        }

        h1 {
            color: #fff;
            font-weight: 400;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
            font-size: 32px;
            text-align: center;

            @include media($container) {
                font-size: 5rem;
                text-align: left;
            }
        }

        p {
            color: #b6b6b6;
            font-size: 14px;
            line-height: 1.6;

            @include media($container) {
                font-size: 18px;
                line-height: 1.8;
                text-align: left;
            }
        }

        .button {
            line-height: 1.8;
            vertical-align: middle;

            &.amazon {
                background: #000 !important;
                color: $amazon;

                span {
                    color: #f5f5f5 !important;
                }
            }

            @include media($desktop) {
                &:hover {
                    background: #111;

                    span {
                        color: #565656;
                    }
                }
            }

            span {
                color: #fff;
                transition: 0.2s all ease 0s; 
                font-style: normal;
            }
            
            @include media($container) {            
                float: left !important;
            }
        }
        
    }
}

// --------------------------------------------
// video
#video {    
    overflow: hidden;
    position: absolute;
    display: block;
    top: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 10;
    opacity: 0.4;

    @include media($mobile) {
        display: none;
    }
}
#header .fallback {    
    overflow: hidden;
    position: absolute;
    display: none;
    top: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 10;
    opacity: 0.4;
    background: url("../img/intro-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    transition: background 0.4s ease 0s;

    @include media($mobile) {
        display: block;
    }
}


// --------------------------------------------
// event
section#events {
    .group {
        overflow: hidden;
        margin: 0 10px 40px 10px;   

        &.amazon {            
            background: #DCAE32;
            background-size: 600px auto;
            color: #fff;  
            margin: 0 0 40px 0;

            p {
                color: rgba(0, 0, 0, 0.6);
            }

            a {
                color: #111;

                &.scroll-button {
                    font-weight: 700;    
                }                
            }

            .container {
                padding: 0 10px;
            }

            .button {
                background: #111;
                color: #fff;
            }

            .bubble {
                background: #DCAE32; // #DCAE32
                padding: 40px;
                width: 100%;

                @include media($container) {  
                    width: 30%;
                }
            }

            .description{
                margin: 0;
                padding: 40px;
                width: 100%; 
                background: $amazon;              

                @include media($container) {  
                    width: 70%;
                }
            }
        }
    }

    .logo {
        margin: 0 0 20px 0;
        padding: 0 30px;
        width: 100%;
        overflow: hidden;
    }

    .description {
        p {
            margin: 0px 0 0 0;
        }
        h3 {
            background: transparent;
            border: 0;
            max-width: 450px;
            display: block;
            text-align: left;
            line-height: 1.5;
            overflow: hidden;
        }

        @include span-columns(12 of 12);
        margin: 0; 

        @include media($phone) {  
            @include span-columns(9 of 12);
        }
    }
    .bubble {
        overflow: hidden;
        float: right;

        @include span-columns(12 of 12);        

        @include media($phone) {            
            @include span-columns(3 of 12);
            @include omega();
        }

        strong {
            font-weight: 700;
            margin-right: 5px;
        }

        ul {
            overflow: hidden;
            font-size: 14px;
            line-height: 1.8;
            font-family: $primary-font;
            text-transform: uppercase;
            margin: 0 0 20px 0;
        }

        .button {
            width: 100%;
            padding: 20px 0;
            text-align: center;
        }
    }

    h2 {
        font-weight: 400;
        text-align: center;
    }

    .title-holder {
        display: block;
        width: 100%;
        min-height: auto;
        position: relative;

        @include media($container) {
            min-height: 58px;
        }
    }

    h3 {
        text-transform: uppercase;
        font-size: 1.8rem;
        line-height: 1.8;
        background: #f5f5f5;
        font-weight: 700;
        display: inline;
        text-align: center;
        transition: 0.2s border-color linear 0s;
        border-bottom: 1px solid #f5f5f5;
    }

    h4 {
        text-transform: uppercase;
        font-size: 14px;
        border: 1px solid #565656;
        color: #212121;
        display: block;
        padding: 6px 0;
        text-align: center;
        margin: 0 auto 3.4rem auto;
        width: 100px;
    }

    .author {
        clear: both;
        margin: 20px 0;
        overflow: hidden;

        img {
            width: 60px;
            height: 60px;
            display: block;
            border-radius: 50%; 
            background: #dedede;
            display: block;
            float: left;
            margin: 0 10px 0 0; 
        }

        h5 {
            font-size: 18px;
            margin: 8px 0 0 0;
            transition: 0.2s color linear 0s;
        }

        span {
            display: block;
            float: left;    
        }
    }

    p {
        clear: both;
        margin: 0 0 20px 0;
        font-size: 18px;
        line-height: 1.8;
    }

    .carousel {
        overflow: hidden;
        width: 100%;
        position: relative;
    }

    .holder {
        width: 1000%;
        position: relative;
        overflow: hidden;
        transform: translate3d(-90%, 0px, 0px);
    }

    .slide {
        display: block;
        overflow: hidden;
        float: right;
        width: 10%;
        position: relative;

        .container {
            position: relative;
            width: 100%;
            padding: 0;
            overflow: hidden;
        }

        .speakers {
            overflow: hidden;
            width: 1000%;
            margin: 0 0 40px 0;
            position: relative;

            @include media($phone) {
                width: 225%;
            }
 
            @include media($desktop) {
                margin: 0;
            }

            li {
                float: left;            
                width: 10%;
                padding: 0 10px;

                @include media($phone) {
                    width: 15%;
                }

                p {
                    font-size: 16px;  
                    line-height: 1.7;
                }

                @include media($desktop) {
                    &:hover {
                        h3 {
                            border-bottom: 2px solid #b7b7b7;
                        }
                        h5 {
                            color: #800000;
                        }
                    }    
                }                

                .button {
                    display: inline-block;
                    float: none;
                    margin: 0 10px 0 0;  
                }
            }

            &.amazon {    
                margin: 0 0 40px 0;

                & + .pagination {
                    @include media($container) {
                        display: block;
                    }
                }
            }
        }        
    }

    .pagination {
        width: 100%; 
        display: block;
        float: left;
        margin: 0;
        overflow: hidden;
        padding: 0 0 40px 0;

        @include media($container) {            
            display: none;

            &.more {
                display: block;
            }
        }

        ul {
            list-style: none; 
            position: relative; 
            float: left; 
            display: block; 
            left: 50%;  
            width: auto; 
        }

        li {
            position: relative; 
            float: left; 
            width: auto;
            display: block; 
            right: 50%;
            margin: 0 5px;

            a {
                width: 30px;
                height: 30px;
                border: 3px solid #dedede;
                overflow: hidden;
                display: block;
                border-radius: 50%;
                overflow: hidden;                
                text-indent: -9999px;
                transition: 0.4s all ease 0s;
            }

            &.active a {
                border-color: #565656;
                background: #565656;   
            }
        }
    }

    a.prev.button, a.next.button {
        color: #fff;
        cursor: pointer;
        text-transform: uppercase;        
        background: $secondary;
        float: left;
        clear: none;
        padding: 8px 18px;        
        position: absolute;
        text-align: center;
        height: auto;
        z-index: 150;
        font-family: $primary-font;

        position: relative;
        @include span-columns(6 of 12);

        @include media($container) {            
            @include span-columns(2 of 12);
        }

        @include media($desktop) {            
            position: absolute;   
            width: auto; 
            margin: -120px 0 0 0;
            top: 50%;
            height: 240px;
        }

        @include media($desktop) { 
            span {
                display: none;
            }
        }

        @include media($desktop) {
            background: #dedede;
            
            &:hover {
                background: $secondary;
            }
        }

        &.inactive {
            display: none;
        }

        i {
            float: left;
            line-height: 1.8;
            padding: 0 10px 0 0;

            @include media($desktop) {            
                line-height: 240px;
                font-size: 34px;
            }
        }
    }

    a.prev.button {
        left: 0px;
    }

    a.next.button {
        right: 0px;
        float: right;
        @include omega();

        i {            
            padding: 0 0 0 10px;
            float: right;
        }
    }
}


// --------------------------------------------
// speaker
section#speaker {
    padding: 120px 0;
    position: static;
    background:  #330707 url("../img/speaker-bg.jpg") center no-repeat;
    background-attachment: fixed;
    background-size: cover;  

    .container {
        position: relative;
        z-index: 100;
    }

    p {
        color: #b6b6b6;
        font-size: 22px;
        text-align: center;
    }

    a {
        &:hover {
            color: #fff;
            border-bottom-color: #fff;
        }
    }
}



// --------------------------------------------
// challenge
section#challenge {
    .title {        
        i {
            color: #FED34B;
        }
    }
    .description {
        text-align: center;
        font-size: 18px;

        strong {
            color: $base-text;
            font-weight: 700;
        }   

        @include span-columns(12);

        @include media($container) {
            @include span-columns(12 of 12);
        }
    }

    .results {
        @include span-columns(12);

        @include media($container) {
            @include span-columns(12 of 12);
        }
    }

    .month {
        padding: 40px 20px;
        float: left;
        text-align: center;
        @include span-columns(12 of 12); 

        @include media($container) {
            @include span-columns(4 of 12); 
        }

        h3 {
            text-transform: uppercase;
            font-size: 1.8rem;
            line-height: 1.8;
            background: #f5f5f5;
            font-weight: 700;
            display: inline;
            text-align: center;
            transition: 0.2s border-color linear 0s;
            border-bottom: 1px solid #f5f5f5;
        }
        
        @include media($desktop) {
            &:hover {
                h3 {
                    border-bottom: 2px solid #b7b7b7;
                }
            }
        }
    }

    .awarded {
        overflow: hidden;
        list-style-type: decimal;
        margin: 20px 0 20px 20px;

        li {
            text-align: center;
            width: 100%;

            a {
                font-weight: 400;            
            }
        }
    }

    a.prev.button, a.next.button {
        color: #fff;
        cursor: pointer;
        text-transform: uppercase;        
        background: $secondary;
        color: #fff;
        padding: 8px 18px;
        float: left;
        text-align: center;
        z-index: 150;
        clear: none;
        margin-top: 20px;
        font-family: $primary-font;
        position: relative;
        @include span-columns(6 of 12);

        @include media($container) {            
            @include span-columns(2 of 12);
        }

        @include media($desktop) {            
            position: absolute; 
            background: #dedede;
            width: auto; 
            margin: 0;
            bottom: 220px;

            &:hover {
                background: $secondary;
            }
        }             

        i {
            float: left;
            line-height: 1.8;
            padding: 0 10px 0 0;
        }
    }

    a.prev.button {
        left: 0px;
    }

    a.next.button {
        float: right;
        right: 0px;

        i {            
            padding: 0 0 0 10px;
            float: right;
        }
    }
}


// --------------------------------------------
// sharing
section#sharing {
    position: relative;

    .container {
        position: relative;
    }

    .twitter, .gallery {
        @include span-columns(12 of 12);

        @include media($container) {
            @include span-columns(6); 
        }
    }
    .twitter {
        margin-bottom: 80px;

        @include media($container) {
            margin-bottom: 0px;
        }

        .button-group {
            span {
                display: none;

                @include media($container) {
                    display: inline-block;
                }
            }
            .button {
                margin: 0 5px;
            }
        }
    }
    .gallery {
        @include omega();
        padding: 0;
        position: relative;

        .holder {
            position: absolute;
            top: 50%;
            z-index: 100;
            right: 0;
            margin: -70px 0 0 0;    
            width: 100%;
        }
        

        h2 {
            color: #fff;
        }
        p {
            margin: 0;
            color: #f5f5f5;
            text-align: center;
        }
        a:hover {
            color: #fff;
            border-bottom-color: #fff;
        }
    }

    #twitter-feed {
        margin: 0 0 30px 0;
        overflow: hidden;

        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            float: left;
            margin: 0 15px 0 0;
        }

        li {
            overflow: hidden;
            whitespace: no-wrap;
            margin: 0 0 20px 0;

            &:last-child {
                border-bottom: 0;
                margin-bottom: 0;

                .tweet {
                    margin-bottom: 0;
                }
            }

            .user {
                float: left;
                display: block;
                margin: 0px; 

                a {
                    color: #111;
                }

                a > span {
                    font-size: 14px;
                    font-family: $primary-font;
                    line-height: 1.6;
                    float: left;
                    display: block;
                    padding: 3px;

                    &:nth-child(2) {
                        color: #111;
                        font-weight: bold;
                    }

                    &:nth-child(3) {
                        color: #dedede;
                    }
                }
            }

            .tweet {
                clear: both;
                float: left;
                font-size: 16px;
                margin-bottom: 20px;
                padding-left: 50px;
                width: 100%;
                line-height: 1.6;
                overflow: hidden;
                white-space: pre-wrap; /* css-3 */    
                white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
                white-space: -pre-wrap; /* Opera 4-6 */    
                white-space: -o-pre-wrap; /* Opera 7 */    
                word-wrap: break-word; /* Internet Explorer 5.5+ */

                a {
                    color: $accent;
                }
            }

            .timePosted, .interact {
                display: none;
            }
        }
    }

    #flickr-feed { 
        ul {
            width: 100%;
            li {
                background: #000;
                overflow: hidden;
                display: block;
                float: left;
                width: 33.333333%;

                img {
                    width: 100%;
                    height: auto;
                    display: block;
                    opacity: 0.4;
                }
            }
        }
    }
}


// --------------------------------------------
// digest
section#digest {
    background: $secondary url(../img/digest-bg.png); 

    p {
        text-align: center;
        color: #fff;
        font-size: 18px;
    }

    .error, .success {
        width: 100%;
        clear: both;
        font-family: $primary-font;
        font-size: 14px;        
        padding: 15px;
        float: left;
        opacity: 0;
        visability: hidden;
        overflow: hidden;
        max-height: 0px;
        height: auto;
        padding: 0;
        line-height: 1.6;
        transition: 0.3s all ease 0s;

        .group {
            margin: 20px 0 0 0;
            padding: 15px;
            background: $primary;
            position: relative;
        }

        &.active {
            visability: visible;
            max-height: 100%;
            opacity: 1;
        }

        a {
            position: absolute;
            top: 0px;
            right: 0px;
            padding: 10px;
            color: #000;
            opacity: 0.4;
        }

        p {
            font-size: 14px;
            clear: both;
            color: #dedede;
            margin: 0;
        }

        h5 {
            text-align: center;
            color: #fff;
            font-size: 12px;
            font-family: $primary-font;
            text-transform: uppercase;
        }
    }

    .success .group {
        background: #93EA39;
        p {
            color: #454545;
        }
    }


    #subscription {
        @include span-columns(12 of 12);
        @include shift(0);
        @include row();

        @include media($container) {
            @include span-columns(8);
            @include shift(2);   
        }

        form {
            background: #212121;
            transition: 0.3s all ease 0s;
            display: block;
            overflow: hidden;
            padding: 15px;
        }

        input.button {
            clear: none;
            float: right;
            background: #212121;
            @include span-columns(3 of 12);
            @include omega();

            @include media($mobile) {
                @include span-columns(12 of 12);
                @include shift(0);
                line-height: 80px;
                height: 80px;
                padding: 0;
            }
        }
        input.email {
            background: #212121;
            height: 49px;
            padding: 0 12px;
            float: left;
            border: 0;
            color: #fff;
            border-bottom: 1px solid #111;
            font-size: 1.8rem;
            line-height: 1.75em;
            font-family: $secondary-font;
            transition: 0.4s all ease 0s;
            @include span-columns(9 of 12);

            &:focus {
                border-bottom: 1px solid #565656;
            }

            @include media($mobile) {
                @include span-columns(12 of 12);
                margin-bottom: 20px;
            }
        }
    }
}


// --------------------------------------------
// sponsors
section#sponsors {
    background: #f5f5f5;

    ul {
        clear: both;
        display: block;
        margin: 0 0 20px 0;
        @include span-columns(12 of 12);
        @include shift(0);

        @include media($container) {
            @include span-columns(12);
            @include shift(0);    
        }

        @include media(960px) {
            @include span-columns(6);
            @include shift(3);    
        }

        li {
            position: relative;          

            @include span-columns(8 of 12);
            @include shift(2); 

            @include media($container) {
                @include span-columns(6 of 12);
                @include shift(0); 
            }

            img {
                width: 100%;                
                height: auto;
                display: block;
            }
        }
    }

    img {
        display: block;
        float: left;
        width: 220px;
        height: auto;
        
    }

    p {
        text-align: center;
        clear: both;
    }
}


// --------------------------------------------
// map
section#map {
    background: #f5f5f5;
    height: 500px;

    &.amazon .maptip {
        background: $amazon;
        color: #212121;
        
        &:after {
            border-top-color: $amazon;
        } 
    }

    .maptip {
        line-height: 1.6;
        display: inline-block;
        pointer-events: none;
        visability: hidden;
        position: relative;
        padding: 16px 20px;
        text-align: center;
        color: #f5f5f5;
        background: #212121;
        font-size: 18px;
        z-index: 100;
        margin: -65px 0 0 -110px;
        font-family: $secondary-font;
        transition: all 0.2s ease 0s;

        &:after {
            content: " ";
            backgound: rgba(#000, 0);
            display: block;
            position: absolute;
            bottom: -12px;
            left: 50%;
            margin: 0 0 0 -12px;
            z-index: 100;
            width: 0;
            height: 0;
            border-top: 12px solid #212121;
            border-right: 12px solid rgba(#000, 0);
            border-left: 12px solid rgba(#000, 0);
        }
    }
}


// --------------------------------------------
// learn
section#learn {
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;

    p {
        text-align: center;

        @include media($container) {
            margin-bottom: 40px;         
        }
    }
    .books {
        float: left;
        @include span-columns(12 of 12);
        height: 100px;
        position: relative;

        @include media($container) {
            width: 140px;
            height: 100px;    
        }
    }

    .book {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
        height: 24px;
        left: 50%;
        margin-left: -45px;
        margin-top: -10px;
        position: absolute;
        animation: anim-books 4s -0s cubic-bezier(0.7, 0, 0.3, 1) infinite;
        width: 90px;     

        @include media($container) {
            margin-top: 0px;
        }   

        &:nth-child(2) {
            margin-left: -30px;
            transform: translate3d(0px, 26px, 0px);
            animation: anim-books 4s -0.3s cubic-bezier(0.7, 0, 0.3, 1) infinite;
        }

        &:nth-child(3) {
            transform: translate3d(0px, 52px, 0px);
            animation: anim-books 4s -0.6s cubic-bezier(0.7, 0, 0.3, 1) infinite;
        }

        .omslagrond {
            background: none repeat scroll 0 0 #ddd;
            border-bottom: 3px solid #D32424;
            border-bottom-right-radius: 20px;
            border-right: 3px solid #D32424;
            border-top: 3px solid #D32424;
            border-top-right-radius: 20px;
            height: 24px;
            left: 40px;
            position: absolute;
            width: 16px;
            transition: 0.4s all ease 0s;
        }

        .bladeren {
            background: none repeat scroll 0 0 #f5f5f5;
            border-bottom: 3px solid rgba(0, 0, 0, 0);
            border-top: 3px solid rgba(0, 0, 0, 0);
            height: 18px;
            left: 6px;
            position: absolute;
            top: 3px;
            width: 34px;
            transition: 0.4s all ease 0s;
        }

        .omslag {
            border-bottom: 3px solid #D32424;
            border-top: 3px solid #D32424;
            height: 24px;
            left: 0;
            position: absolute;
            width: 40px;
            transition: 0.4s all ease 0s;
        }

        .rug {
            border-bottom: 12px solid #D32424;
            border-bottom-right-radius: 12px;
            border-top: 12px solid $primary;
            border-top-right-radius: 12px;
            height: 0;
            position: absolute;
            left: 40px;
            width: 50px;
            transition: 0.4s all ease 0s;
        }
    }

    .cameras {
        float: left;
        @include span-columns(12 of 12);
        height: 100px;
        position: relative;
        z-index: 1;

        @include media($container) {
            width: 140px;
            height: 100px;    
        }   

        .camera {
            position: absolute;
            left: 50%;
            margin-top: 40px;
            margin-left: -35px;
            display: block; 
        }

        .base {
            width: 70px;
            height: 50px;
            background: $primary;
            border-radius: 3px;
            transition: 0.4s background ease 0s;
        }  

        .lense {           
            width: 30px;                
            height: 20px;
            background: #D32424;
            position: absolute;
            z-index: -10;            
            top: 15px;
            left: -25px;
            display: block;
            transition: 0.4s background ease 0s;

            &:after {
                width: 10px;
                height: 30px;
                background: $primary;
                position: absolute;
                content: "";
                display: block;
                left: 0px;
                top: -5px;
                z-index: 10;     
                transition: 0.4s background ease 0s;           
            }
        }

        .roll {
            width: 50px;
            height: 50px;
            border-radius: 25px;
            background: $primary;
            display: block;
            position: absolute;
            top: -25px;
            left: -15px;
            border: 3px solid #fff;
            animation: anim-rotate 4s 0s linear infinite;
            transition: 0.4s background ease 0s;

            &:after {
                display: block;
                content: " ";
                width: 6px;
                height: 6px;
                position: absolute;
                top: 4px;
                left: 50%;
                margin-left: -3px;
                border-radius: 3px;
                background: #fff;
                transition: 0.4s background ease 0s;
            }

            &:before {
                display: block;
                content: " ";
                width: 10px;
                height: 10px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -5px 0 0 -5px;
                border-radius: 5px;
                background: #D32424;
                transition: 0.4s background ease 0s;
            }

            &.last {
                width: 44px;
                height: 44px;                
                top: -22px;
                left: 40px;
                animation: anim-rotate 4s -1s linear infinite;
                border-radius: 22px;
            }
        }
        
    }

    .item {
        @include span-columns(12);

        @include media($container) {
            @include span-columns(6 of 12);     
        }
        @include media($desktop) {
            a:hover i {
                color: #111;
            }      

            a:hover .main {
                color: $secondary;
            }     

            &:hover {
                .omslagrond, .omslag, .rug {                    
                    border-color: #2F896D;
                }  

                .rug {
                    border-top-color: $secondary;
                }
            }

            a:hover {
                .lense:after, .base, .roll {                
                    background: $secondary;
                }  

                .lense, .roll:before {
                    background: #2F896D;
                }
            }
        }

        p {
            overflow: hidden;
            float: left;
            text-align: center;
            width: 100%;
            color: $base-text;
            
            @include media($container) {
                text-align: left;
                float: none;
                width: auto;
                margin-left: 140px; 
            }
        }
    }
}

@keyframes anim-rotate {
    0% { transform: rotateZ(0deg); }
    100% { transform: rotateZ(360deg); }
}

@keyframes anim-books {
    0% { top: -30%; opacity: 0; }
    30% { opacity: 1; top: 20%; }
    80% { opacity: 1; top: 20%; }
    100% { opacity: 0; top: 60%; }
}


// --------------------------------------------
// about
section#about {
    .info {
        margin-bottom: 40px;
        overflow: hidden;

        ul {
            margin: 0 0 20px 10px;

            li:before {
                content: "—";
                padding: 0 10px;
            }
        }
    }
    .left, .right {
        @include span-columns(12);

        @include media($container) {
            @include span-columns(6 of 12);
        }
    }
    p {
        font-size: 16px;
        line-height: 1.6;

        strong {
            color: $base-text;
        }
    }
    
    .arrow {
        display: block;
        width: 0;
        height: 0;
        content: "";
        border: 0;
        border-bottom: 18px solid #888;
        border-left: 18px solid transparent;
        border-right: 18px solid transparent;
        position: absolute;
        left: 50%;
        bottom: -1px;
        margin: 0 0 0 -10px;
        transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1) 0s;
    }
    .arrow:before {
        display: block;
        width: 0;
        height: 0;
        content: "";
        border: 0;
        border-bottom: 18px solid #fff;
        border-left: 18px solid transparent;
        border-right: 18px solid transparent;
        position: absolute;
        margin: 1px 0 0 -18px;
        left: 50%;
        z-index: 5;
    }

    #member-nav {
        border-bottom: 1px solid #bebebe;
        margin: 0 0 40px 0;
        position: relative;
        text-align: center;

        li {
            display: inline-block;
            font-family: $primary-font;
            margin: 0 5px;
            padding: 25px 0;
            text-transform: uppercase;
            font-size: 14px;

            &:nth-child(1) {
                display: none;
            }

            a {
                font-weight: 700;
                color: #212121;

                &.active {
                    color: $primary;
                }
            }
        }
    }

    #member-list {
        ul {
            clear: both;
            visability: hidden;
            opacity: 0;
            height: 0;
            overflow: hidden;
            transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1) 0s;
            pointer-events: none;

            &.active {
                visibility: visible;
                opacity: 1;
                height: auto;
                pointer-events: auto;
                overflow: visible;
            }
        }

        li {
            @include span-columns(1 of 4);
            margin-bottom: 20px;
            float: left;
            list-style: none;
            position: relative;

            @include media(max-width $container) {
                &:nth-child(4n) {
                    @include omega();
                }
            }

            @include media(min-width $container max-width 960px) {
                @include span-columns(2 of 12);
                &:nth-child(6n) {
                    @include omega();
                }
            }

            @include media(960px) {
                @include span-columns(1 of 12);
                &:nth-child(12n) {
                    @include omega();
                }
            }

            &:before {
                content: none;
            }

            &:hover {
                .tip {
                    opacity: 1;
                    visability: visible;
                    margin-bottom: 0;
                }
            }

            img {
                width: 100%;
                border-radius: 50%;
                height: auto;
                margin: 0 auto;
                display: block;
            }

            .tip {
                opacity: 0;
                line-height: 1.6;
                display: inline-block;
                pointer-events: none;
                visability: hidden;
                position: absolute;
                padding: 10px 10px;
                text-align: center;
                color: #b6b6b6;
                background: #212121;
                font-size: 14px;
                width: 220%;
                left: -60%;
                z-index: 100;
                bottom: 110%;
                margin-bottom: -10px;
                transition: all 0.2s ease 0s;

                &:after {
                    content: " ";
                    backgound: rgba(#000, 0);
                    display: block;
                    position: absolute;
                    bottom: -12px;
                    left: 50%;
                    margin: 0 0 0 -12px;
                    z-index: 100;
                    width: 0;
                    height: 0;
                    border-top: 12px solid #212121;
                    border-right: 12px solid rgba(#000, 0);
                    border-left: 12px solid rgba(#000, 0);
                }
            }
        }
    }
}


// --------------------------------------------
// contact
section#contact {
    padding: 40px 0;

    p {
        text-align: center;
        font-size: 18px;
    }
}



// --------------------------------------------
// footer
footer#footer {
    padding: 40px 0;

    .copyright {        
        text-align: center;
        width: 100%;
        font-size: 1.5rem; 
    }
}
