section#about
	.container
		.info
			h2.title About
			.left
				p Latvian Software Craftsmanship Community is a non-profit backed by the most active representatives of Latvian IT community. Our goal is to nurture top-notch software development culture in Latvia and raise the bar of professional software development by practicing it and helping others learn the craft by example. 
				p In pursuing of our goals, we organize recurring events dedicated to broad range of IT professionals who are eager to learn and share. 
				p: strong Events run every first Tuesday in the month afterhours. 
				p Coffee breaks with snacks and drinks give an excellent chance to socialize and meet like-minded people. 

			.right
				p Interactive and relevant high quality talks are inevitable part of the event:
				ul
					li IT Trends
					li Techies 
					li Engineering Practices
					li Operations
					li Management
					li Leadership
				p This and a lot more.

		#member-nav
			ul
				li check out our cool members on 
				li: a(href="#").active GitHub
				li: a(href="#") Twitter				
				li: a(href="#") Facebook
			.arrow 
		
		#member-list
			ul.github.active
			ul.twitter
				li
					a(href="#")
						img(src="https://pbs.twimg.com/profile_images/554027573882011649/hmLhc_-t_400x400.png")
					.tip TeodorsZeltins
			ul.facebook