section#challenge
	.container
		h2.title 
			i.fa.fa-trophy
			|  Challenge

		.description
			p 
				| Our join invention with Amazon is something we called 
				strong Cloudopoly.
				|  Each month we are having a challenge related to Amazon AWS. Top 3 solutions get prizes. If you get in top 3 for 3 times, you get a special prize.
		
		.results
			ul
				for challenge in locals.challenges
					li.month.slide
						h3 #{challenge.month}
						if challenge.completed
							ol.awarded
								for person in challenge.awarded
									li 
										| #{person.name} 
										if person.source
											a(href=person.source) source
							
						else
							p This challenge is still in progress. You can still take part.

						.button-group
							a.button.effect(href="#{challenge.details}")
								div(data-hover="details") details