section#contact
	.container
		h2.title Contact
		p You really need to tell us something important? Contact Eduards Sizovs (Community Lead).
			br
			a(href="mailto:hello@latcraft.lv") hello@latcraft.lv