section#contact
	.container
		h2.title Contact
		p Have something to say? 
			span Our community lead 
				a(href="http://sizovs.net") Eduards Sizovs 
				at your service:
			br
			a(href="mailto:eduards@sizovs.net") eduards@sizovs.net