header#header
	video#video(autoplay loop muted)
		source(src="video/intro.mp4" type="video/mp4")
	.fallback
	.container
		.vertical
			.info
				.button-group
					a.button.effect.scroll-button.devternity(href="http://devternity.com" target="_blank") 
						div(data-hover="DevTernity on 1st of Dec") DevTernity on 1st of Dec
					a.button.effect-hr.scroll-button.devternity(href="http://devternity.com" target="_blank") 
						div(data-hover="DevTernity on 1st of Dec") DevTernity on 1st of Dec
					a.button.opening(href="http://devternity.com" target="_blank") 
						div(data-hover="DevTernity on 1st of Dec") 
							strong DevTernity
							p Conference for IT professionals who care about software craftsmanship.