nav#off-canvas
	a(href="#").open
			span 
			span
			span
	
	.container
		ul 
			li: a(href="#events") events
			li: a(href="#sponsors") sponsors			
			li: a(href="#challenge") challenge
			li: a(href="#learn") learn
			li: a(href="#sharing") stream
			li: a(href="#digest") digest
			li: a(href="#map") venue
			//-li: a(href="#about") about
			li: a(href="#contact") contact
			li: a.twitter.network(href="https://twitter.com/latcraft", target="_blank") 
				i.fa.fa-twitter
			li: a.github.network(href="https://github.com/latcraft", target="_blank") 
				i.fa.fa-github
			//-li: a.facebook.network(href="https://www.facebook.com/groups/latcraft", target="_blank")
				i.fa.fa-facebook
			li: a.linkedin.network(href="https://www.linkedin.com/groups/LatCraft-8187430", target="_blank")
				i.fa.fa-linkedin
			li: a.youtube.network(href="https://www.youtube.com/channel/UCvzMZyJZZ3XYQwbvOACVYrQ", target="_blank")
				i.fa.fa-youtube
			li: a.lanyrd.network(href="http://lanyrd.com/series/latcraft/", target="_blank")
				i
			li: a.speakerdeck.network(href="https://speakerdeck.com/latcraft", target="_blank")
				span
					i.fa.fa-caret-left
					i.fa.fa-caret-right
			
		.logo
			a(href="#header") LatCraft

header#header
	video#video(autoplay loop muted)
		source(src="video/intro.mp4" type="video/mp4")
	.fallback
	.container
		.vertical
			.logo-group
				#logo
					a(href="") LatCraft

			.info
				h1 We are about IT professionals and spectacular speeches.
				p We are community of awesome Latvian software craftsmen. Each month we host an event where we invite amazing speakers from across the world.
				.button-group
					a#join-event.button.big.scroll-button(href="#events") join us on
						span 3rd of nov
					.spliter or
					a#join-devternity.button.big.opening.devternity(href="http://devternity.com" target="_blank") 
						div(data-hover="DevTernity on 1st of Dec") 
							strong DevTernity
							p Conference for IT professionals who care about software craftsmanship.
	a(href="#events").scroll-arrow
		i.fa.fa-angle-down
