section#learn
	.container
		h2.title Learn
		p Some people collect postmarks. Our community collects great information. Here is a GitHub pepositiories with different things to learn. Or maybe you have something to add? Fork and do a pull-request!
		.lean-group
			.watch.item
				a(href="#")
					.icons
						i.fa.fa-book.main
						i.fa.fa-book
						i.fa.fa-book
						i.fa.fa-book
						i.fa.fa-book
					p This is collection of things we encourage you to read. 
			.read.item
				a(href="#")
					.icons
						i.fa.fa-video-camera.main
						i.fa.fa-video-camera
						i.fa.fa-video-camera
						i.fa.fa-video-camera
						i.fa.fa-video-camera
					p This is collection of things we ecourage you to watch.