section#learn
	.container
		h2.title Learn
		p Some people collect postmarks. Our community collects great information. Here is a GitHub pepositiories with different things to learn. Or maybe you have something to add? Fork and do a pull-request!
		.lean-group
			.watch.item
				a(href="https://github.com/latcraft/what2read" target="_blank")
					.books
						.book
							.rug
							.omslag
							.omslagrond
							.bladeren

						.book
							.rug
							.omslag
							.omslagrond
							.bladeren

						.book
							.rug
							.omslag
							.omslagrond
							.bladeren

					p This is collection of things we encourage you to read. Think you have any good book we should add? Do a pull request.
			.read.item
				a(href="https://github.com/latcraft/what2watch" target="_blank")
					.cameras
						.camera
							.base
							.roll
							.roll.last
							.lense
					p This is collection of things we ecourage you to watch.