section#learn
	.container
		h2.title Learn
		p Some people collect postmarks. Our community collects great information. Here is a GitHub pepositiories with different things to learn. Or maybe you have something to add? Fork and do a pull-request!
		.lean-group
			.watch.item
				a(href="https://github.com/latcraft/what2read" target="_blank")
					.books
						.book
							.rug
							.omslag
							.omslagrond
							.bladeren

						.book
							.rug
							.omslag
							.omslagrond
							.bladeren

						.book
							.rug
							.omslag
							.omslagrond
							.bladeren

					p Books are always good to read, but witch books? In our community we have gathered a few that we think is a must read.
			.read.item
				a(href="https://github.com/latcraft/what2watch" target="_blank")
					.cameras
						.camera
							.base
							.roll
							.roll.last
							.lense
					p Not always you have time for books or maybe you just like watching more, we have a collection of videos too.