section#learn
	.container
		h2.title Learn
		p Some people collect postmarks. Our community collects great information. Here is a GitHub pepositiories with different things to learn. Or maybe you have something to add? Fork and do a pull-request!
		.lean-group
			.watch.item
				a(href="#")
					| something here
			.read.item
				a(href="#")
					| something here
			.think.item
				a(href="#")
					| something here