section#sharing
	.container
		.twitter
			h2.title Twitter
			#twitter-feed
			a(href="#").button.big tweet #latcraft
		
		.gallery
			.info
				h2.title Flickr
				p Memmories from last event.
				p See all photos on 
					a(href="https://www.flickr.com/photos/latcraft/" target="_blank").text-link.invert Flickr
			#flickr-feed
