section#speaker
	.bg
	.container
		p We are constantly looking for awesome speeches in English. Have something to say?
			a.invert.text-link(href="http://bit.ly/latcraft_cfp") Submit your application
