section#sponsors
	.container
		h2.title Sponsors
		ul
			li
				a(href="http://accenture.lv")
					img(src="img/accenture.png", alt="")

		p Want to become a sponsor?
			a(href="mailto:eduards@sizovs.net").text-link Get in touch!
