section#sponsors
	.container
		h2.title Sponsors
		ul
			li: img(src="img/twino.png", alt="")
			li: img(src="img/citadele.png", alt="")

		p Want to become a sponsor? 
			a(href="mailto:eduards@sizovs.net").text-link Get in touch!