section#sponsors
	.container
		h2.title Sponsors
		ul
			li: img(src="img/sponsors/4finance.png", alt="")
			li: img(src="img/sponsors/askfm.png", alt="")

		p Want to become a sponsor? 
			a(href="mailto:hello@latcraft.lv").text-link Get in touch!